In [1]:
# Import dependencies

import pandas as pd
import gmaps
import requests


# Import API key

from config import g_key

In [2]:
# Store the cities csv into a DF

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lake Charles,US,2020-06-15 21:44:03,30.21,-93.20,93.00,49,5,6.93
1,1,Kavarna,BG,2020-06-15 21:44:03,43.43,28.33,64.40,100,40,3.36
2,2,Ushuaia,AR,2020-06-15 21:44:03,-54.80,-68.30,42.80,70,40,5.82
3,3,Olonets,RU,2020-06-15 21:44:04,60.98,32.97,59.85,76,0,1.54
4,4,Kapaa,US,2020-06-15 21:39:35,22.08,-159.32,82.99,65,20,13.87

In [3]:
# When using gmpas, any data used for mapping must be either an integer or a floating-point decimal

# Check the datatypes

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Wind Speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kapaa,US,2020-06-15 21:39:35,22.08,-159.32,82.99,65,20,13.87
23,23,Celestun,MX,2020-06-15 21:44:08,20.87,-90.40,84.40,70,3,15.10
26,26,Rikitea,PF,2020-06-15 21:44:09,-23.12,-134.97,75.34,82,53,16.13
30,30,Hilo,US,2020-06-15 21:44:10,19.73,-155.09,82.40,61,40,9.17
34,34,Albany,US,2020-06-15 21:42:20,42.60,-73.97,75.99,44,19,3.96
35,35,Matara,LK,2020-06-15 21:44:11,5.95,80.54,80.24,89,29,10.04
39,39,San Jose,US,2020-06-15 21:41:59,37.34,-121.89,80.01,50,75,17.22
41,41,Kavaratti,IN,2020-06-15 21:44:12,10.57,72.64,84.25,79,100,22.30
43,43,Santa Marta,CO,2020-06-15 21:44:13,11.24,-74.20,88.00,73,100,10.11
44,44,Bethel,US,2020-06-15 21:44:13,41.37,-73.41,75.00,43,1,6.93

In [23]:
preferred_cities_df.count()

# or
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
4         Kapaa      US     82.99  22.08 -159.32
23     Celestun      MX     84.40  20.87  -90.40
26      Rikitea      PF     75.34 -23.12 -134.97
30         Hilo      US     82.40  19.73 -155.09
34       Albany      US     75.99  42.60  -73.97
35       Matara      LK     80.24   5.95   80.54
39     San Jose      US     80.01  37.34 -121.89
41    Kavaratti      IN     84.25  10.57   72.64
43  Santa Marta      CO     88.00  11.24  -74.20
44       Bethel      US     75.00  41.37  -73.41

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kapaa,US,82.99,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
23,Celestun,MX,84.40,20.87,-90.40,Posada Lilia
26,Rikitea,PF,75.34,-23.12,-134.97,Pension Maro'i
30,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel
34,Albany,US,75.99,42.60,-73.97,

In [38]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Create markers for each city
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))