# Challenge 3

### Create direction layer to draw the route to four cities

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.__version__

'0.9.0'

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
vacation_df = pd.read_csv("weather_data/WeatherPy_Vacation.csv")

In [5]:
vacation_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Lagoa,PT,65.26,39.05,-27.98,Casa Das Faias
1,6,Provideniya,RU,57.20,64.38,-173.30,NaN
2,7,East London,ZA,64.45,-33.02,27.91,Tu Casa
3,9,Whitefish,US,63.00,48.41,-114.34,Best Western Rocky Mountain Lodge
4,11,Albany,US,87.01,42.60,-73.97,NaN
...,...,...,...,...,...,...,...
387,556,Piracuruca,BR,86.95,-3.93,-41.71,Pousada Piracuruca
388,561,Besancon,FR,57.99,47.25,6.02,Logis Hôtel Victor Hugo
389,562,Port Keats,AU,69.62,-14.25,129.55,TDC Village (Hundred Man Camp)
390,563,Mangrol,IN,85.03,21.12,70.12,Hotel The Royal Honours
391,564,Zapolyarnyy,RU,53.60,69.42,30.81,Pechenga

In [6]:
# Using the template add the hotel marks to the heatmap

info_box_template = """
<d1>
<dtHotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# Create marker layers

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Saint-Francois"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Lannion"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Besancon"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Paris"]

In [9]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]

print(start)
print(end)
print(stop1)
print(stop2)

(46.42, 3.91)
(48.75, -3.42)
(47.25, 6.02)
(48.85, 2.35)

In [10]:
fig = gmaps.figure()

vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2], 
    travel_mode = "DRIVING")

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create markers

itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
66,108,Saint-Francois,FR,64.40,46.42,3.91,Manoir Du Bonheur
364,525,Lannion,FR,59.00,48.75,-3.42,Hotel Arcadia
388,561,Besancon,FR,57.99,47.25,6.02,Logis Hôtel Victor Hugo
321,470,Paris,FR,68.00,48.85,2.35,Citadines Saint-Germain-des-Prés Paris

In [13]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,108,Saint-Francois,FR,64.40,46.42,3.91,Manoir Du Bonheur
1,525,Lannion,FR,59.00,48.75,-3.42,Hotel Arcadia
2,561,Besancon,FR,57.99,47.25,6.02,Logis Hôtel Victor Hugo
3,470,Paris,FR,68.00,48.85,2.35,Citadines Saint-Germain-des-Prés Paris

In [14]:
# Using the template add the hotel marks to the map

info_box_template = """
<d1>
<dtHotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# Create marker layers

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))